.ChannelGridView
{
    overflow-y: auto;
    position: absolute;
    padding-top: 32px;
}

.ChannelGridView > #header
{
    position: absolute;
    top: 0;
    left: 0;
}

.ChannelGridView > table
{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.ChannelGridView > table tr
{
    height: 32px;
}

.ChannelGridView > #body tr:hover
{
    background-color: rgb(212, 212, 212);
}

.ChannelGridView > table tr:nth-child(2n)
{
    background: #f5f5f5;
}

.ChannelGridView > table td
{
    color: #aaa;
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ChannelGridView > table td#title
{
    color: black;
    width: auto;
    text-align: left;
}


.ChannelGridView > #header td
{
    border-left: 1px solid silver;
    color: white;
    background: #444;
    cursor: pointer;
}

.ChannelGridView > #header td#title
{
    color: white;
}

.ChannelGridView > #body td
{
    font-size: 10px;
}