<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fs.api.host</key>
	<string>feedstore-01.appspot.com</string>
	<key>fs.api.httpProtocol</key>
	<string>https</string>
	<key>fs.api.host.default</key>
	<string>feedstore-01.appspot.com</string>
</dict>
</plist>
